<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <form class="row g-3" style="padding: 20px 20px 20px 20px;" method="post" action="{{ url_for('addproduct') }}" autocomplete="off">
        <div class="col-md-6">
            <label class="form-label" for="product_name">Product Name</label>
            <input type="text" class="form-control" id="product_name" name="product_name">
        </div>
        <div class="col-md-2">
            <label class="form-label" for="product_price">Price</label>
            <input type="text" class="form-control" id="product_price" name="product_price">
        </div>
        <div class="col-12">
            <label class="form-label" for="product_description">Product Description</label>
            <input type="text" class="form-control" id="product_description" name="product_description">
        </div>
        <div class="col-12">
            <label class="form-label" for="product_image">Product Image</label>
            <input type="text" class="form-control" id="product_image" name="product_image" placeholder="Link Only" aria-label="Link Only">
        </div>
        <div class="col-6">
            <label class="form-label" for="product_image">Admin Password</label>
            <input type="password" class="form-control" id="admin_password" name="admin_password">
        </div>
        <div class="col-12">
            <button type="submit" class="btn" style="background-color: #EE9322;">Add</button>
        </div>
    </form>
    {%if admin_password_check==False%}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="static/warning.png" class="rounded me-2" alt="warning">
                <strong class="me-auto">Warning</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Admin Password Wrong!
            </div>
            </div>
        </div>
        <script>
            var liveToast = new bootstrap.Toast(document.getElementById('liveToast'));
            liveToast.show();
        </script>
    {%endif%}
    <div style="padding: 20px 20px 20px 20px;">
        <a href="{{ url_for('index') }}" class="btn btn-outline-danger">Go to Home Page</a>
    </div>
</body>
</html>
